$mainColor: #006A81;
$textColor: #fff;
$text: "Droid Sans Mono";
@import 'src/components/disc/disc';

.file {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-family: $text;
  animation-name: onLoad;
  animation-duration: .5s;

  .file-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;

    .file-title-name-dir {
      padding-left: 2%;
      cursor: pointer;

      &:hover {
        font-weight: bolder;
        //color: lighten(black, 50%);
      }
    }

    .file-title-name-file {
      padding-left: 2%;
      cursor: pointer;

      &:hover {
        //font-weight: bolder;
        color: lighten(black, 50%);
      }
    }

    img {
      width: 50px;
      padding: 0;
      margin-bottom: 4px;
    }
    button{
      display: none;
    }
  }

  .func-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
    padding: 10px;

    button {
      display: none;
    }
  }

  .file-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;

    .file-info-date {
      padding-right: 10%;
    }

    .file-info-size {
      white-space: nowrap;
    }
  }
}
.file:hover{
  .func-btn{
    button {
      display: block;
      font-size: 15px;
      margin-left: 5px;
      padding: 5px 10px;
      border: 1px solid $mainColor;;
      border-radius: 10px;
      color: $textColor;
      background-color: $mainColor;
      cursor: pointer;
    }
    button:hover{
      display: block;
      font-size: 15px;
      margin-left: 5px;
      padding: 5px 10px;
      border:1px solid $mainColor ;
      border-radius: 10px;
      color: $mainColor;
      background-color: $textColor;
      cursor: pointer;
    }
  }
}