$font: "Arial Black", sans-serif ;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  a, button {
    cursor: pointer;
  }
}
.app{
  font-family: $font;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.routes {

}
