*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.routes {

}
