@import "commonStyles";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $mainColor;
  a, button {
    cursor: pointer;
  }
}
.app{
  font-family: Georgia serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.routes {

}
